<template>
    <div>
        Test
        <TestComponent> Nice Nice </TestComponent>
    </div>
</template>

<script>
    import TestComponent from '@components/TestComponent.vue';

    export default {
        name: 'App',
        components: {
            TestComponent
        },

        data() {
            return {
                openDialogBox: false
            };
        }
    };
</script>
